<section id="shopping-cart-process-div">
    <div class="container">
        <div class="align-items-center hidd">
            <a>Home</a>
            <img src="/Assets/Images/Fredrik/ShoppingCartListImages/Path 328.svg" alt="">
            <a class="current">My Account</a>
            <img src="/Assets/Images/Fredrik/ShoppingCartListImages/Path 328.svg" alt="">
            <a></a>
        </div>
        <div class="mobile-nav">
            My Account
        </div>
       

    </div>
</section>
<div class="empty-space"></div>

@code {

}
