<section id="shopping-cart-process-div">
    <div class="container">
        <div class="align-items-center navlinkscontainer">
            <NavLink Match="@NavLinkMatch.All" href="/" class="nav-link" ><a>Home</a></NavLink>
            <img src="/Assets/Images/Fredrik/ShoppingCartListImages/Path 328.svg" alt="">
            <NavLink Match="@NavLinkMatch.All" href="/wishlist" class="nav-link" ><a>Wishlist</a></NavLink>
        </div>

    </div>
</section>
