<!--BRANDS-->
<section id="brands">
    <div class="container">
        <div class="brand">
            <img src="/Assets/Images/Mattias/Brands/Bexim.svg">
        </div>
        <div class="brand">
            <img src="/Assets/Images/Mattias/Brands/Lighton.svg">
        </div>
        <div class="brand">
            <img src="/Assets/Images/Mattias/Brands/Dismis.svg">
        </div>
        <div class="brand">
            <img src="/Assets/Images/Mattias/Brands/Rosimo.svg">
        </div>
        <div class="brand">
            <img src="/Assets/Images/Mattias/Brands/Dallas.svg">
        </div>
    </div>
</section>

<!--BRANDS END-->

@code {

}
