@inject NavigationManager NavManager
<footer>
    <div class="container" id="upperfooter">
        <div id="aa">
            <div id="footerinfo" class="mt-1">
                <img src="/Assets/Images/Mattias/Logo.svg" class="mb-5">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent enim quam,
                    ullamcorper vel tellus vitae, tempus fringilla lectus. Donec maximus justo eu nisl
                    convallis iaculis. Aenean laoreet.
                </p>
                <p>Follow us</p>
                <a href="https://www.facebook.com" class="fa fa-facebook"></a>
                <a href="https://www.twitter.com" class="fa fa-twitter"></a>
                <a href="https://www.instagram.com" class="fa fa-instagram"></a>
                <a href="https://www.linkedin.com/in/mattias-e-karlsson" class="fa fa-linkedin"></a>

            </div>
            <div id="footercontact" class="mt-1">
                <h4 class="mb-4">CONTACT INFO</h4>
                <p>
                    <span>Address:</span><br>
                    Solna Business Park <br>
                    Feni-2500, Stockholm
                </p>
                <p>
                    <span>Phone:</span><br>
                    +08-123456789 <br>
                    +08-123456789
                </p>
                <p>
                    <span>Email:</span><br>
                    support@website.com <br>
                    info@website.com
                </p>
            </div>

        </div>
        <div class="empdiv"></div>
        <div id="bb">
            <div id="footerlinks" class="mt-1">
                <h4 class="mb-4">USEFUL LINKS</h4>
                <NavLink><a href="/notfound">Privacy Policy</a><br></NavLink>
                <NavLink><a href="/notfound">Terms & Conditions</a><br></NavLink>
                <NavLink><a href="/contact">Contact Us</a><br></NavLink>
                <NavLink><a href="/notfound">Our Sitemap</a><br></NavLink>
                <NavLink><a href="/notfound">Latest News</a><br></NavLink>
                <NavLink><a href="/notfound">Returns</a><br></NavLink>

            </div>
            <div class="empdiv"></div>
            <div id="footerinsta" class="mt-1">
                <h4>RECENT INSTAGRAM</h4>
                <div>
                    <a href="#"><img border="0" src="/Assets/Images/Mattias/clem-onojeghuo-_XGvUmDGfQ4-unsplash.jpg"></a>
                    <a href="#"><img border="0" src="/Assets/Images/Mattias/vadim-sadovski-NmpUqeCzKKI-unsplash.jpg"></a>
                    <a href="#"><img border="0" src="/Assets/Images/Mattias/alexandra-nicolae-MKXyRm-pK50-unsplash.jpg"></a>
                    <a href="#"><img border="0" src="/Assets/Images/Mattias/marek-piwnicki-c2PSeCMxGME-unsplash.jpg"></a>
                    <a href="#"><img border="0" src="/Assets/Images/Mattias/dylann-hendricks-Lp5uluEANKU-unsplash.jpg"></a>
                    <a href="#"><img border="0" src="/Assets/Images/Mattias/docusign-gqzh0lSXo7g-unsplash.jpg"></a>
                    <a href="#"><img border="0" src="/Assets/Images/Mattias/alexandra-nicolae-MKXyRm-pK50-unsplash.jpg"></a>
                    <a href="#"><img border="0" src="/Assets/Images/Mattias/clem-onojeghuo-_XGvUmDGfQ4-unsplash.jpg"></a>
                    <a href="#"><img border="0" src="/Assets/Images/Mattias/clay-banks-erurwRLJ44A-unsplash.jpg"></a>
                </div>
            </div>
        </div>


        
    </div>
    <div id="footerlower">
        <div class="container">
            <p>© Copyright 2021 KenKata</p>
            <img src="/Assets/Images/Mattias/Payment system.svg">
        </div>

    </div>
</footer>

@code {

}
