 <!--Info DIV-->
<section id="info-squres">
    <div class="container">
        <img src="/Assets/Images/Mattias/info-pics/Group 1155.svg">
        <p>
            <span>Free shipping</span><br>
            For a local customer, we provide
            free shipping facility
        </p>
    </div>
    <div class="container">
        <img src="/Assets/Images/Mattias/info-pics/24B.svg">
        <p>
            <span>24/7 support</span><br>
            For any inquiry, we are available 24 hours every day
        </p>
    </div>
    <div class="container">
        <img src="/Assets/Images/Mattias/info-pics/paymentB.svg">
        <p>
            <span>Online payment</span><br>
            You can pay quickly and easily with our online payment system
        </p>
    </div>
    <div class="container">
        <img src="/Assets/Images/Mattias/info-pics/OutlineB.svg">
        <p>
            <span>Fast delivery</span><br>
            We understand your urgency and we deliver in a fast way
        </p>
    </div>
</section>
<!--Info ENDS-->

@code {

}
