<div id="aboutus">
    <div class="container">

        <div class="d-flex justify-content-between align-items-end">
            <div>
                <div class="wetext">We are a</div>
                <div class="shoptext">ONLINE STORE</div>
                <p class="text-padd">Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies faucibus. Quisque quis erat sed</p>
                <button class="learn-btn">LEARN MORE</button>
            </div>

            <div>
                <img class="store-img" src="/Assets/Images/Fredrik/AboutUsImages/pexels-andrea-piacquadio-919436.jpg" alt="">
            </div>
        </div>
        <div class="empty-space"></div>
    </div>
</div>
<div class="empty-space-section"></div>
<div id="ad-text">
    <div class="container">
        <div class="d-flex">
            <div class="wrapper">
                <video id="video-1" src="/Assets/Images/Fredrik/AboutUsImages/pexels-sora-shimazaki-5925168.mp4" loop type="video/mp4"></video>
                <div class="play-btn" id="play_btn_1"><img src="/Assets/Images/Fredrik/AboutUsImages/Path 518.svg" alt=""></div>
            </div>
            <div class="div-size">
                <ul>
                    <li class="sheader">We are a responsible</li>
                    <li class="sheader">quality online store</li>
                    <li class="first-section">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</li>
                    <li class="second-section">Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies faucibus. Quisque quis erat sed lacus elementum feugiat. Vivamus ac sagittis justo. Suspendisse in purus lobortis, accumsan urna et.</li>
                    <li class="last-section">Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies faucibus. Quisque quis erat sed lacus elementum feugiat. Vivamus ac sagittis justo. Suspendisse in purus lobortis, accumsan urna et, fermentum dolor. In hac habitasse platea dictumst. Nulla pulvinar, eros eget venenatis fermentum, lacus odio dapibus justo, sed semper quam purus quis lacus. Vestibulum vitae neque sed risus scelerisque ultricies.</li>
                </ul>
            </div>
        </div>

    </div>
</div>
<div class="empty-space-section"></div>
<div class="d-flex">
    <div class="card">
        <img src="/Assets/Images/Fredrik/AboutUsImages/User icon.svg" alt="">
        <h1 class="fw-bold mt-3">236</h1>
        <h4>Registered Customer</h4>
    </div>
    <div class="card">
        <img src="/Assets/Images/Fredrik/AboutUsImages/Cart download icon.svg" alt="">
        <h1 class="fw-bold mt-3">3254</h1>
        <h4>Products Delivered</h4>
    </div>
    <div class="card">
        <img src="/Assets/Images/Fredrik/AboutUsImages/Thumbsup icon.svg" alt="">
        <h1 class="fw-bold mt-3">685</h1>
        <h4>5 Star Reviews</h4>
    </div>
    <div class="card">
        <img src="/Assets/Images/Fredrik/AboutUsImages/Team icon.svg" alt="">
        <h1 class="fw-bold mt-3">18</h1>
        <h4>Team Members</h4>
    </div>
</div>
<div class="empty-space-section"></div>
<div id="facts">
    <div class="container">
        <div class="d-flex">
            <div class="div-size">
                <ul class="m-0">
                    <li class="business-header">Do business in a smart</li>
                    <li class="business-header">way with our theme</li>
                    <li>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</li>
                    <li class="first-fact">
                        <div class="d-flex">
                            <div>
                                <img src="/Assets/Images/Fredrik/AboutUsImages/Bulb icon.svg" alt="">
                            </div>

                            <div class="facts">
                                <h4 class="fact-header">It's a great ideas here</h4>
                                <p>Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies faucibus. Quisque quis erat sed lacus elementum feugiat.</p>
                            </div>
                        </div>
                    </li>
                    <li class="second-fact">
                        <div class="d-flex">
                            <div>
                                <img src="/Assets/Images/Fredrik/AboutUsImages/Award icon.svg" alt="">
                            </div>

                            <div class="facts">
                                <h4 class="fact-header">Taking the business into a certain goal with a easy way</h4>
                                <p>Quisque quis erat sed lacus elementum feugiat. Vivamus ac sagittis justo. Suspendisse in purus lobortis, accumsan urna et, fermentum dolor.</p>
                            </div>
                        </div>
                    </li>
                    <li class="third-fact">
                        <div class="d-flex">
                            <div>
                                <img src="/Assets/Images/Fredrik/AboutUsImages/Diary icon.svg" alt="">
                            </div>

                            <div class="facts">
                                <div class="fact-header">Always try to get the perfect collaboration</div>
                                <p>It has survived not only five centuries, but also the leap into electronic typesetting.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div>
                <div class="back-card"> <div class="front-card"></div></div>
            </div>
        </div>
    </div>
</div>


<div class="empty-space-section"></div>
<div class="d-flex">
    <div class="mega-card ">
        <div class="play-btn"><img src="/Assets/Images/Fredrik/AboutUsImages/Path 518.svg" alt=""></div>
        <div class="descript-card">
            <div class="descript-header">Always try to get the perfect collaboration</div>
            <p>Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies faucibus. Quisque quis erat sed lacus</p>
        </div>
    </div>
    <div class="mega-card middle-card">

        <div class="descript-card-with-btn">
            <div class="descript-header">Always try to get the perfect collaboration</div>
            <p>Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies faucibus. Quisque quis erat sed lacus</p>
            <button class="learn-btn">LEARN MORE</button>
        </div>
    </div>
    <div class="mega-card">
        <div class="descript-card">
            <div class="descript-header">Always try to get the perfect collaboration</div>
            <p class="descript">Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies faucibus. Quisque quis erat sed lacus</p>
        </div>
    </div>

</div>
<div class="empty-space-section"></div>

