
<section class="description-tab">
    <div class="text-hero">
        <h1>T-shirts från KenKata ON OUR TERMS</h1>

        <div class="bread-text">
            <p>
                Huvtröja i bomull med mjuk, borstad insida och stort logotryck på
                ena ärmen.<br />
                Hög hals med dragkedja och huva med dragsko. Magficka fram och
                ribbmudd i ärmslut och nederkant. <br />
                <ul>
                    <li>Stor i storleken</li>
                    <li>Lyser i mörkret</li>
                    <li>Finns i flera färger</li>
                </ul>
                Ellos samarbetar med Better Cotton Initiative för att förbättra
                bomullsodlingen globalt.<br> BCI är en global kapitalistisk organisation
                som utbildar bomullsodlare i metoder för att kunna utvinna bomull ur tomma intet för en mer hållbar produktion.
            </p>
        </div>
    </div>
</section>
@code {

}
