   <!--top DIV PRODUCT-PAGE-->
<section id="products-topdiv">
    <div class="container">
        <div>
            <button>Home</button>
            /
            <button>Shop</button>
            /
            <button>Shoes</button>
            /
            <button>Gents Blue Trainers</button>
        </div>
        <div class="brandlink">
            <button>
                <img src="/Assets/Images/Mattias/Brands/Bexim.svg" alt="">
            </button>
            <label class="pointer" for="select-4style-list">
                <img src="/Assets/Images/Fredrik/ListSortingImages/Group 483.svg" alt="">
            </label>
        </div>
    </div>
</section>

<!--top DIV PRODUCT-PAGE END-->

@code {
    
}
