


<section class="review-tab">
    <div class="review-big-box">
        <div class="review-box">
            <h1 class="hero-text-review"><span>2 reviews</span> for Gents Blue Lightweight Trainers</h1>
        </div>

        <div class="review-box-1">
            <img class="graybox" src="/Assets/Images/Steven/grayicon.svg"/>
            <div class="text-space-1">
                <p><span>John Doe</span> - 24 july, 2020</p> <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span><br>
                <p>
                    Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit, sed<br> diam nonummy nibh euismod tincidunt ut laoreet dolore<br> magna aliquam erat volutpat.
                    Ut wisi enim.
                </p>
            </div>
        </div>
        <div class="review-box-2">
            <img class="graybox" src="/Assets/Images/Steven/grayicon.svg" />
            <div class="text-space-2">
                <p><span>Willium Cary</span> - 16 June, 2020</p> <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span><br>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,<br> sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
            </div>
        </div>
    </div>
    <div class="form-box">
        <form action="/action_page.php">
            <h1 class="hero-text">Add a review</h1>
            <p>Your email adress will not be published. Required fields are marked *</p>
            <label for="yreview">Your rating<span>*</span></label>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span><br>
            <label for="yreview">Your review<span>*</span></label><br>
            
            <textarea class="review-bubble"></textarea><br>
            <label for="lname">Name<span>*</span></label><br>
            <input class="review-name" type="text" id="name" name="name" value=""><br>
            <label for="lname">E-mail<span>*</span></label><br>
            <input class="review-email" type="text" id="email" name="email" value=""><br><br>
            <div class="save-submit d-flex">
                <input class="checkbox-box" type="checkbox" id="save">
                <label class="checkbox-text" for="save">Save my name, email, and website in this browser for the next time I comment.</label><br>
            </div>
            <input class="input-btn" type="submit" value="Submit">
        </form>
    </div>

   
</section>



@code { }


