@inject HttpClient Http


<section id="latestblog" class="container">
    @*<button class="carousel-control-prev" type="button" data-bs-target="#LatestBlogCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#LatestBlogCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>*@
    <div class="header-blog text-center mt-5">
        <h3>LATEST <span>BLOG</span></h3><br>
        <img src="/Assets/Images/Mattias/BorderZig.svg">
        <p>Read our latest posts about our events and trending news</p>
    </div>
    <div class="container" id="blogcarusel">

        <div id="LatestBlogCarousel" class="carousel slide mb-5" data-bs-ride="carousel">
            <div class="carousel-inner">



                <div class="carousel-item active">
                    <div id="blogposts">
                        <div class="blogpost">
                            <div class="blogpic">
                                <img src="/Assets/Images/Mattias/clem-onojeghuo-_XGvUmDGfQ4-unsplash.jpg">
                            </div>
                            <div class="bloginfo">
                                <div class="blogtext">
                                    <div class="datediv">
                                        <p>5</p>
                                        <span>DEC</span>
                                    </div>
                                    <div class="textdiv">
                                        <span>By Bert Karlsson</span>
                                        <p>A beautiful scenery in the world we are missing</p>
                                        <span class="category">Fashion</span><span class="category">Travel</span><br>
                                        <button>Read More</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blogpost hid">
                            <div class="blogpic">
                                <img src="/Assets/Images/Mattias/alexandra-nicolae-MKXyRm-pK50-unsplash.jpg">
                            </div>
                            <div class="bloginfo">
                                <div class="blogtext">
                                    <div class="datediv ">
                                        <p>11</p>
                                        <span>DEC</span>
                                    </div>
                                    <div class="textdiv">
                                        <span>By Gustaf Vasa</span>
                                        <p>A beautiful scenery in the world we are missing</p>
                                        <span class="category">Travel</span><span class="category">Fashion</span><br>
                                        <button>Read More</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="carousel-item">
                    <div id="blogposts">
                        <div class="blogpost">
                            <div class="blogpic">
                                <img src="/Assets/Images/Mattias/dylann-hendricks-Lp5uluEANKU-unsplash.jpg">
                            </div>
                            <div class="bloginfo">
                                <div class="blogtext">
                                    <div class="datediv ">
                                        <p>12</p>
                                        <span>JAN</span>
                                    </div>
                                    <div class="textdiv">
                                        <span>By Göran Persson</span>
                                        <p>A beautiful scenery in the world we are missing</p>
                                        <span class="category">Travel</span><span class="category">Fashion</span><br>
                                        <button>Read More</button>
                                    </div>
                                </div>>
                            </div>
                        </div>
                        <div class="blogpost hid">
                            <div class="blogpic">
                                <img src="/Assets/Images/Mattias/docusign-gqzh0lSXo7g-unsplash.jpg">
                            </div>
                            <div class="bloginfo">
                                <div class="blogtext">
                                    <div class="datediv ">
                                        <p>30</p>
                                        <span>AUG</span>
                                    </div>
                                    <div class="textdiv">
                                        <span>By Kung Karl Gustaf</span>
                                        <p>A beautiful scenery in the world we are missing</p>
                                        <span class="category">Travel</span><span class="category">Fashion</span><br>
                                        <button>Read More</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div id="blogposts">
                        <div class="blogpost">
                            <div class="blogpic">
                                <img src="/Assets/Images/Mattias/clay-banks-erurwRLJ44A-unsplash.jpg">
                            </div>
                            <div class="bloginfo">
                                <div class="blogtext">
                                    <div class="datediv ">
                                        <p>12</p>
                                        <span>JAN</span>
                                    </div>
                                    <div class="textdiv">
                                        <span>By Bill Gates</span>
                                        <p>A beautiful scenery in the world we are missing</p>
                                        <span class="category">Travel</span><span class="category">Fashion</span><br>
                                        <button>Read More</button>
                                    </div>
                                </div>>
                            </div>
                        </div>
                        <div class="blogpost hid">
                            <div class="blogpic">
                                <img src="/Assets/Images/Mattias/xps-uWFFw7leQNI-unsplash.jpg">
                            </div>
                            <div class="bloginfo">
                                <div class="blogtext">
                                    <div class="datediv ">
                                        <p>30</p>
                                        <span>AUG</span>
                                    </div>
                                    <div class="textdiv">
                                        <span>By Christer P</span>
                                        <p>A beautiful scenery in the world we are missing</p>
                                        <span class="category">Travel</span><span class="category">Fashion</span><br>
                                        <button>Read More</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>












            </div>
            <div class="carousel-indicators mt-5">
                <button type="button" data-bs-target="#LatestBlogCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#LatestBlogCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#LatestBlogCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>

        </div>

    </div>
</section>


@code {

}
