<section>
    <div class="container-fluid blue-bgcolor">
        <div class="container ">
            <div class="text-center mb-5"><img src="/Assets/Images/Fredrik/BrandCarouselImages/Path 96.svg" alt=""> <img src="/Assets/Images/Fredrik/BrandCarouselImages/Path 96.svg" alt=""></div>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card"></div>
                        <div class="stars">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="namedisplay">JOHNY WESMULLAR</div>
                        <p class="company">CEO, Biotech Inc.</p>
                        <p class="carousel-p-element">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                    </div>
                    <div class="carousel-item">
                        <!-- <div class="text-center mb-5"><img class="me-1" src="/images/Path 96.svg" alt=""><img src="/images/Path 96.svg" alt=""></div> -->
                        <div class="card"></div>
                        <div class="stars">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="namedisplay">JOHNY WESMULLAR</div>
                        <p class="company">CEO, Biotech Inc.</p>

                        <p class="carousel-p-element">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>

                    </div>
                    <div class="carousel-item">
                        <div class="card"></div>
                        <div class="stars">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="namedisplay">JOHNY WESMULLAR</div>
                        <p class="company">CEO, Biotech Inc.</p>
                        <p class="carousel-p-element">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>


                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-style">
                        <span><img class="arrow-right" src="/Assets/Images/Fredrik/BrandCarouselImages/Path 46.svg" alt="" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-style">
                        <span><img class="arrow-left" src="/Assets/Images/Fredrik/BrandCarouselImages/Path 95.svg" alt="" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </span>
                </button>
            </div>

        </div>
        <div class="empty-footer"></div>
    </div>

</section>
