<div class="container">
    <div class="gallery">

        <figure class="item item1">
            <div id="categorycarousel1" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="shop/category/men's"><img class="item_img" src="https://kenkatastorage.blob.core.windows.net/kenkataimages/bluecali.jpg" alt=""></a>
                    </div>
                    <div class="carousel-item">
                        <a href="shop/category/men's"><img class="item_img" src="https://kenkatastorage.blob.core.windows.net/kenkataimages/ckhoodieherr.jpg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="item1div"><h6>Men</h6></div>
        </figure>

        <figure class="item item2">
            <div id="categorycarousel2" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="shop/category/women's"><img class="item_img" src="https://kenkatastorage.blob.core.windows.net/kenkataimages/svartabyxwomen.jpg" alt=""></a>
                    </div>
                    <div class="carousel-item">
                        <a href="shop/category/women's"><img class="item_img" src="https://kenkatastorage.blob.core.windows.net/kenkataimages/vitabyxwomen.jpg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="item2div"><h6>Women</h6></div>
        </figure>

        <figure class="item item3">
            <div id="categorycarousel3" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="shop/category/kids"><img class="item_img" src="https://kenkatastorage.blob.core.windows.net/kenkataimages/grönkidstshirt.jpg" alt=""></a>
                    </div>
                    <div class="carousel-item">
                        <a href="shop/category/kids"><img class="item_img" src="https://kenkatastorage.blob.core.windows.net/kenkataimages/svart kidsshirt.jpg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="item3div"><h6>Kids</h6></div>
        </figure>

        <figure class="item item4" >
            <div id="categorycarousel4" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="shop/category/shoes"><img class="item_img" src="https://kenkatastorage.blob.core.windows.net/kenkataimages/skinnskobrunherr.jpg" alt=""></a>
                    </div>
                    <div class="carousel-item">
                        <a href="shop/category/shoes"><img class="item_img" src="https://kenkatastorage.blob.core.windows.net/kenkataimages/skinnskosvartherr.jpg" alt=""></a>
                    </div>
                </div>
            </div>

            <div class="item4div"><h6>Shoes</h6></div>
        </figure>

        <figure class="item item5">
            
            <div id="categorycarousel5" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="shop/category/hats"><img class="item_img" src="https://kenkatastorage.blob.core.windows.net/kenkataimages/blåkepslevis.jpg" alt=""></a>
                    </div>
                    <div class="carousel-item">
                        <a href="shop/category/hats"><img class="item_img" src="https://kenkatastorage.blob.core.windows.net/kenkataimages/svartkepsadidas.jpg" alt=""></a>
                    </div>
                </div>
            </div>
            
            <div class="item5div"><h6>Hats</h6></div>
        </figure>

        <figure class="item item6">
            <div id="categorycarousel6" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="shop/category/sunglasses"><img class="item_img" src="https://kenkatastorage.blob.core.windows.net/kenkataimages/svartglasögon.jpg" alt=""></a>
                        
                    </div>
                    <div class="carousel-item">
                        <a href="shop/category/sunglasses"><img class="item_img" src="https://kenkatastorage.blob.core.windows.net/kenkataimages/svartglasögon.jpg" alt=""></a>
                    </div>
                </div>
            </div>
            
            <div class="item6div">
                <h6>Sunglasses</h6>
                <p>18 Products</p>
            </div>
        </figure>

        <figure  class="item item7"  >
            
            <div id="categorycarousel7" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="shop/category/watches"><img class="item_img" src="/Assets/Images/Mattias/docusign-gqzh0lSXo7g-unsplash.jpg" alt=""></a>
                    </div>
                    <div class="carousel-item">
                        <a href="shop/category/watches"><img class="item_img" src="/Assets/Images/Mattias/docusign-gqzh0lSXo7g-unsplash.jpg" alt=""></a>
                    </div>
                </div>
            </div>
           
                
            <div class="item7div"><h6>Watches</h6></div>
        </figure>

    </div>
</div>


@code {


}
