<section class="home-section-1">
    <div class="box-1">
        <h1 class="hero-text">Shopping is<br /><span> MORE FUN</span></h1>
        <p class="home-copy">
            Vivamus dignissim a ex eu ornare. Ut fermentum orci <br />
            vel diam ultricies faucibus. Quisque quis erat sed.
        </p>

        <NavLink href="/shop"><button class="button">SHOP NOW</button></NavLink>
    </div>
    <div class="box-2">
        <img src="/Assets/Images/Steven/woman.svg" />
    </div>
</section>

@code {

}
