
<section class="flash-sale-30">
    <div class="square">
        <span>30% OFF</span><br />FOR NEW CUSTOMER<NavLink href="/shop"><button class="button">SHOP NOW</button></NavLink>
    </div>

    <div class="box-1">
        <p class="home-copy">
            Lorem Ipsum is simply dummy text of the printing and typesetting<br />
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever<br />
            since the 1500s, when an unknown printer took a galley of type and<br />
            scrambled it to make a type specimen book.
            <a href="#">Returns</a>
        </p>

        <NavLink href="/shop"><button class="button">SHOP NOW</button></NavLink>
    </div>
</section>

@code {

}
