<div class="container">
    <div class="textbanner">
        <h3>NEW <span>ARRIVALS</span></h3>
        <img src="/Assets/Images/Mattias/BorderZig.svg" alt="">
        <h5>Check out our monthly featured products from top brands</h5>
    </div>
</div>

@code {

}
