<section id="shopping-cart-process-div">
    <div class="container">
        <div class="align-items-center navlinkscontainer">
            <NavLink Match="@NavLinkMatch.All" href="/shopping-cart" class="nav-link" ><a>Shopping Cart</a></NavLink>
            <img src="/Assets/Images/Fredrik/ShoppingCartListImages/Path 328.svg" alt="">
            <NavLink Match="@NavLinkMatch.All" href="/checkout" class="nav-link" ><a>Checkout</a></NavLink>
            <img src="/Assets/Images/Fredrik/ShoppingCartListImages/Path 328.svg" alt="">
            <NavLink Match="@NavLinkMatch.All" href="/ordercomplete"  class="nav-link disabled"><a>Order Complete</a></NavLink>
        </div>

    </div>
</section>
