
<section class="shop-section-1">
    <div class="shoe-box-1">
        <h1 class="hero-text-1">
            New Customer<br />Can Get<span class="span-1"> 30% Off</span>
        </h1>
        <div class="shoe-images"></div>

        <button href="#">Learn More</button>
    </div>
    <div class="box">
        <div class="box-1">
            <div class="circle-1"><span class="multicolor-1">NEW</span></div>
            <img class="photo-1" src="/Assets/Images/Steven/Product thumb.svg" />
        </div>
        <div class="box-2">
            <div class="circle-2"><span class="multicolor-2">-20%</span></div>
            <img class="photo-2" src="/Assets/Images/Steven/Product thumb-1.svg" />
        </div>
    </div>
</section>

@code {

}
