<div id="top-rated-products">
    <div class="container">
        <span class="rated-header">
            Top Rated Products
        </span>
        <ul class="list-unstyled">
            <li class="mt-3">
                <div class="d-flex">
                    <img class="rated-products me-2" src="/Assets/Images/Fredrik/TopRatedImages/t-shirt-placeholder.svg" alt="">
                    <div>
                        <p class="product-header">T-shirt Text</p>
                        <div class="stars-1  mb-1 mt-1">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="far fa-star"></span>
                        </div>
                        <p class="price">$190</p>
                    </div>

      

                    </div>

            </li>
            <li>
                <div class="d-flex">
                    <img class="rated-products me-2" src="/Assets/Images/Fredrik/TopRatedImages/shoes-placeholder.svg" alt="">
                    <div>
                        <p class="product-header">Shoes Text</p>
                        <div class="stars-1  mb-1 mt-1">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="far fa-star"></span>
                        </div>
                        <p class="price">$190</p>
                    </div>

      

                    </div>

            </li>
            <li>
                <div class="d-flex">
                    <img class="rated-products me-2" src="/Assets/Images/Fredrik/TopRatedImages/Product small thumb.svg" alt="">
                    <div>
                        <p class="product-header">Whatever that is Text</p>
                        <div class="stars-1  mb-1 mt-1">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="far fa-star"></span>
                        </div>
                        <p class="price">$190</p>
                    </div>

          

                    </div>

            </li>
        </ul>
    </div>

</div>



