<section id="shopping-cart-process-div">
    <div class="container">
        <div class="align-items-center">
            <a>Home</a>
            <img src="/Assets/Images/Fredrik/ShoppingCartListImages/Path 328.svg" alt="">
            <a class="current">Contact</a>
            <img src="/Assets/Images/Fredrik/ShoppingCartListImages/Path 328.svg" alt="">
            <a></a>
        </div>

    </div>
</section>

@code {

}
