
<div id="item">
    <img id="image1" src="https://thispersondoesnotexist.com/image" class="" alt="...">
    <footer id="footer">Winter collection for women</footer>
    <div class="main-div">

        <div class="second-div">

            <ul id="ul2" class="ul2">
                <li><a href=""><i id="c1" class="fas fa-circle"></i></a></li>
                <li><a href=""><i id="c2" class="fas fa-circle"></i></a></li>
                <li><a href=""><i id="c3" class="fas fa-circle"></i></a></li>
                <li><a href=""><i id="c4" class="fas fa-circle"></i></a></li>
            </ul>

            <div id="addtocart" class="addtocart">
                <p>Add to cart</p>
            </div>


            <ul class="ul1">
                <li><i onclick="showhidecolors('ul2')" class="fas fa-circle"></i></li>
                <li id="n1"><i class="far fa-heart"></i></li>
                <li><i class="fas fa-arrow-right"></i></li>
                <li><i class="fas fa-search"></i></li>
                <li><i id="cart" onmouseover="showcart('addtocart')" onmouseout="showcart('addtocart')" class="fas fa-cart-plus"></i></li>
            </ul>

        </div>

        <div class="third-div">
            <div class="fourth-div">229:-</div>
            <ul>
                <li><i class="far fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
            </ul>
        </div>
    </div>
</div>

@code {

}
